<form 
  id="form-release"
  v-show="isShowForm"
  >

  <section 
    v-show="isShowFirst"
    class="step step-1"
    >

    <div class="grid-y align-justify">

      <div class="cell small-2">
        <h4 class="heading">Select variant</h4>
      </div>
      <div class="cell small-8">
        <div class="product-variants">
          {% for variant in product.variants %}
            <div class="product-variant">
              <input 
                type="radio" 
                id="{{ variant.id }}" 
                value="{{ variant.id }}"
                name="variant_id"
                @click="selectedVariant = {{ variant.id }};"
                {% if _checked == blank and variant.available %}
                  {% assign _checked = true %}
                  checked
                {% endif %}
                {% unless variant.available %}
                  disabled
                {% endunless %}
              >
              <label for="{{ variant.id }}">{{ variant.title }}</label>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="cell small-2 flex-container align-right flex-dir-column">
        <div class="grid-x">
          <div class="cell small-6">
            <button 
              type="button" 
              class="btn primary"
              disabled
            >Previous Step</button>
          </div>
          <div class="cell small-6">
            <button 
              type="button" 
              class="btn secondary"
              @click.prevent="isShowFirst = false; isShowSecond = true;"
            >Next Step</button>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section 
    v-show="isShowSecond"
    class="step step-2">

    <div class="grid-y align-justify">

      <div class="cell small-2">
        <h4 class="heading">Shipping Info</h4>
      </div>
      <div class="cell small-8">

        <div class="main-content">

          <div id="shipping" class="grid-x grid-padding-x grid-padding-y">
            <div class="cell medium-6">
              <label for="shipping__first_name">First Name</label>
              <input type="text" v-model="customerData.shippingAddress.firstName" name="shipping__first_name" placeholder="John" class="cell" required>
            </div>
            <div class="cell medium-6">
              <label for="shipping__last_name">Last Name</label>
              <input type="text" v-model="customerData.shippingAddress.lastName" name="shipping__last_name" placeholder="Doe" class="cell" required>
            </div>
            <div class="cell medium-6">
              <label for="shipping__phone">Phone Number</label>
              <input type="tel" v-model="customerData.shippingAddress.phone" id="shipping__phone" name="shipping__phone" placeholder="(XXX)-YYYY-ZZZ" class="cell" required>
            </div>
          </div>

          <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell">
              <input type="checkbox" class="same-data" id="same-data" checked>
              <label @click="isShowBilling = !isShowBilling;" for="same-data">Use the same address for billing</label>
            </div>
          </div>

          <div v-show="isShowBilling" id="billing" class="grid-x grid-padding-x grid-padding-y">
            <div class="cell medium-6">
              <label for="billing__first_name">First Name</label>
              <input type="text" v-model="customerData.billingAddress.firstName" name="billing__first_name" placeholder="John" class="cell" required>
            </div>
            <div class="cell medium-6">
              <label for="billing__last_name">Last Name</label>
              <input type="text" v-model="customerData.billingAddress.lastName" name="billing__last_name" placeholder="Doe" class="cell" required>
            </div>
            <div class="cell medium-6">
              <label for="billing__phone">Phone Number</label>
              <input type="tel" v-model="customerData.billingAddress.phone" id="billing__phone" name="billing__phone" placeholder="(XXX)-YYYY-ZZZ" class="cell" required>
            </div>
          </div>
          
        </div>

      </div>
      <div class="cell small-2 flex-container align-right flex-dir-column">
        <div class="grid-x">
          <div class="cell small-6">
            <button 
              type="button" 
              class="btn primary"
              @click.prevent="isShowSecond = false; isShowFirst = true;"
            >Previous Step</button>
          </div>
          <div class="cell small-6">
            <button 
              type="submit" 
              class="btn secondary"
              @click="updateBillingData()"
            >Next Step</button>
            <!-- @click.prevent="isShowSecond = false; isShowThird = true;" -->
          </div>
        </div>
      </div>

    </div>

  </section>

  <section 
    v-show="isShowThird"
    class="step step-3">

    <div class="grid-y align-justify">

      <div class="cell small-2">
        <h4 class="heading">stripe</h4>
      </div>
      <div class="cell small-8">
        
      </div>
      <div class="cell small-2 flex-container align-right flex-dir-column">
        <div class="grid-x">
          <div class="cell small-6">
            <button 
              type="button" 
              class="btn primary"
              @click.prevent="isShowThird = false; isShowSecond = true;"
            >Previous Step</button>
          </div>
          <div class="cell small-6">
            <button 
              type="button" 
              class="btn secondary"
              @click.prevent="return false;"
            >Enter Draw</button>
          </div>
        </div>
      </div>

    </div>

  </section>

</form>
