<div class="{{ classes }}">
  <a href="{{ product.url }}" class="product-item">

    {% unless product.available %}
      <span class="sold-out">
        sold out
      </span>
    {% endunless %}

    {%- comment -%}
    For custom order tag add to product 'sticker::order_custom'
    {%- endcomment -%}
    {% for tag in product.tags %}
      {% if tag contains "sticker::order_custom" %}
        <span class="tag">
          order<br/>custom
        </span>
        {% break %}
      {% endif %}
    {% endfor %}

    <div class="top">
      <div class="image">
        <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{- product.title | truncatewords: 2, '...' -}}">
      </div>
    </div>
    <div class="bottom">
      <h4 class="title">{{- product.title -}}</h4>
      <span class="money">
        {% if product.compare_at_price > product.price %}
          <span class="compare">
            {{- product.compare_at_price | money -}}
          </span>
        {% endif %}
        {{- product.price | money -}}
      </span>
    </div>

  </a>
</div>