<div class="customer_page">
    {% if customer %}
        <div class="grid-container fluid">
            <div class="grid-x align-right">
                <a href="/account" class="link">
                    {{ customer.first_name }} ({{ customer.email }})
                </a>
            </div>
            <div class="grid-x align-justify" style="margin-bottom: 20px;">
                <h2 class="title" style="margin: 0;">Account</h2>
                <nav class="nav">
                    <a href="/account">Orders</a>
                    <a class="link" href="/account/logout">Logout</a>
                </nav>
            </div>
            <div class="grid-x form-customer-addresses">
                <div class="cell grid-x align-justify align-middle" style="margin-bottom: 1.25rem;">
                    <h3 class="title sub" style="margin: 0;">Addresses</h3>
                    <button class="btn btn-inherit switch" type="button">Add new address</button>
                </div>
                {% paginate customer.addresses by 1 %}
                    <div class="cell">
                        {% for address in customer.addresses %}

                            {% form 'customer_address', address %}
                                <div class="grid-x">
                                    {% if form.address1 %}
                                        <div class="cell">
                                            <label for="address1-{{ form.id }}">Address</label>
                                            <input type="text" class="full-size" id="address1-{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" required>
                                        </div>
                                    {% endif %}   
                                    {% if form.address2 %}
                                        <div class="cell">
                                            <label for="address2-{{ form.id }}">Apartment, suite, etc.</label>
                                            <input type="text" class="full-size" id="address2-{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" required>
                                        </div>
                                    {% endif %}
                                    {% if form.company %}                               
                                        <div class="cell">
                                            <label for="company-{{ form.id }}">Company</label>
                                            <input type="text" class="full-size" id="company-{{ form.id }}" name="address[company]" value="{{ form.company }}" required>
                                        </div>
                                    {% endif %}
                                    {% if form.street %} 
                                        <div class="cell">
                                            <label for="street-{{ form.id }}">Street</label>
                                            <input type="text" class="full-size" id="street-{{ form.id }}" name="address[street]" value="{{ form.street }}" required>
                                        </div>
                                    {% endif %}
                                    {% if form.city %} 
                                        <div class="cell">
                                            <label for="city-{{ form.id }}">City</label>
                                            <input type="text" class="full-size" id="city-{{ form.id }}" name="address[city]" value="{{ form.city }}" required>
                                        </div>   
                                    {% endif %}                           
                                </div>
                                {% if form.country %}
                                    <div class="grid-x align-justify align-middle">
                                        <div class="cell">
                                            <label for="country-{{ form.id }}">Country</label>
                                            <select class="full-size" id="country-{{ form.id }}" name="address[country]" value="{{ form.country }}">{{ country_option_tags }}</select>
                                        </div>
                                        <!-- <div class="cell medium-3">
                                            <label for="country_code-{{ form.id }}">Country code</label>
                                            <input type="text" class="full-size" id="country_code-{{ form.id }}" name="address[country_code]" value="{{ form.country_code  }}" required>
                                        </div> -->
                                    </div>
                                {% endif %}
                                {% if form.province %}
                                    <div class="cell">
                                        <label for="province-{{ form.id }}">Province/Region</label>
                                        <input type="text" class="full-size" id="province-{{ form.id }}" name="address[province]" value="{{ form.province }}" required>
                                    </div>
                                {% endif %} 
                                {% if form.zip %}
                                    <div class="cell">
                                        <label for="zip-{{ form.id }}">Postal code/Zip</label>
                                        <input type="text" class="full-size" id="zip-{{ form.id }}" name="address[zip]" value="{{ form.zip }}" required>
                                    </div>
                                {% endif %}
                                {% if form.phone %}
                                    <div class="cell">
                                        <label for="phone-{{ form.id }}">Phone</label>
                                        <input type="text" class="full-size" id="phone-{{ form.id }}" name="address[phone]" value="{{ form.phone }}" required>
                                    </div>
                                {% endif %}

                                <div class="grid-x align-middle align-justify">
                                    <div class="cell auto">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </div>
                            {% endform %}

                            <form class="grid-x" style="margin-top: 15px;" method="post" action="/account/addresses/{{ address.id }}">
                                <input type="hidden" name="_method" value="delete" />
                                <button type="submit" class="btn btn-primary cell auto">Delete</button>
                            </form>
                            
                        {% else %}
                            <p class="text">You haven't placed any addresses yet.</p>
                        {% endfor %}
                    </div>
                    {% if paginate.pages > 1 %}
                        <div class="grid-x cell align-center align-middle">
                            {% if paginate.previous.is_link %}
                                <a href="{{ paginate.previous.url }}" class="btn btn-paginate">
                                    <img src="{{ 'icon-arrow-left-6.svg' | file_url }}" width="36" alt="{{ page_title }}">
                                </a>
                            {% endif %}
                            {% if paginate.next.is_link %}
                                <a href="{{ paginate.next.url }}" class="btn btn-paginate">
                                    <img src="{{ 'icon-arrow-right-6.svg' | file_url }}" width="36" alt="{{ page_title }}">
                                </a>
                            {% endif %}
                        </div> 
                    {% endif %}               
                {% endpaginate %}           
            </div>
            <div class="grid-x form-customer-new-addresses" style="display: none;">
                <div class="cell grid-x align-justify align-middle" style="margin-bottom: 1.25rem;">
                    <h3 class="title sub" style="margin: 0;">Add new addresses</h3>
                    <button class="btn btn-inherit switch" type="button">All addresses</button>
                </div>
                {% form 'customer_address', customer.new_address, class: "cell" %}
                    <div class="grid-x">
                        <div class="cell">
                            <label for="address1-{{ form.id }}">Address</label>
                            <input type="text" class="full-size" id="address1-{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" required>
                        </div>  
                        <div class="cell">
                            <label for="address2-{{ form.id }}">Apartment, suite, etc.</label>
                            <input type="text" class="full-size" id="address2-{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" required>
                        </div>
                        <div class="cell">
                            <label for="company-{{ form.id }}">Company</label>
                            <input type="text" class="full-size" id="company-{{ form.id }}" name="address[company]" value="{{ form.company }}" required>
                        </div>
                        <div class="cell">
                            <label for="street-{{ form.id }}">Street</label>
                            <input type="text" class="full-size" id="street-{{ form.id }}" name="address[street]" value="{{ form.street }}" required>
                        </div>
                        <div class="cell">
                            <label for="city-{{ form.id }}">City</label>
                            <input type="text" class="full-size" id="city-{{ form.id }}" name="address[city]" value="{{ form.city }}" required>
                        </div>                           
                    </div>
                    <div class="grid-x align-justify align-middle">
                        <div class="cell medium-7">
                            <label for="country-{{ form.id }}">Country</label>
                            <select class="full-size" id="country-{{ form.id }}" name="address[country]" value="{{ form.country }}" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                        </div>
                        <div class="cell medium-3">
                            <label for="country_code-{{ form.id }}">Country code</label>
                            <input type="text" class="full-size" id="country_code-{{ form.id }}" name="address[country_code]" value="{{ form.country_code  }}" required>
                        </div>
                    </div>
                    <div class="cell">
                        <label for="province-{{ form.id }}">Province/Region</label>
                        <input type="text" class="full-size" id="province-{{ form.id }}" name="address[province]" value="{{ form.province }}" required>
                    </div>
                    <div class="cell">
                        <label for="zip-{{ form.id }}">Postal code/Zip</label>
                        <input type="text" class="full-size" id="zip-{{ form.id }}" name="address[zip]" value="{{ form.zip }}" required>
                    </div>
                    <div class="cell">
                        <label for="phone-{{ form.id }}">Phone</label>
                        <input type="text" class="full-size" id="phone-{{ form.id }}" name="address[phone]" value="{{ form.phone }}" required>
                    </div>

                    <div class="grid-x align-middle align-justify">
                        <div class="cell small-5 medium-4">
                            <button class="btn btn-primary" type="submit">Add</button>
                        </div>
                        <div class="cell small-5 medium-4">
                            <button class="btn btn-primary switch" type="button">Cancel</button>
                        </div>
                    </div>
                {% endform %}
            </div>     
        </div>
    {% else %}
        <a class="link" href="/account/login" style="display: flex; justify-content: center;">Login page</a>
        <script>
            window.location = "/account/login";
        </script>
    {% endif %}    
</div>

<script type="text/javascript">
$(function () {
    $(".switch").click(function(e) {
        e.preventDefault();
        let isActive =  $(".form-customer-new-addresses").hasClass("switch-active")
        
        if(isActive) {
            $(".form-customer-addresses").css("display", "flex")
            $(".form-customer-new-addresses").css("display", "none")
            $(".form-customer-new-addresses").removeClass("switch-active")
        }
        else {
            $(".form-customer-addresses").css("display", "none")
            $(".form-customer-new-addresses").css("display", "flex")
            $(".form-customer-new-addresses").addClass("switch-active")
        }
    })
})
</script>