<div class="grid-container">

  <span class="text">{{ "now" | date: "%Y" }} © {{ shop.name }}</span>
  <span class="text">Developed by <a href="#!" class="hover-opacity">COMPANY_NAME</a></span>

  {% if settings.instagram %}
    <a href="{{ settings.instagram }}" class="hover-opacity">Instagram</a>
  {% endif %}

  {% if settings.facebook %}
    <a href="{{ settings.facebook }}" class="hover-opacity">Facebook</a>
  {% endif %}

  {% if settings.twiiter %}
    <a href="{{ settings.facebook }}" class="hover-opacity">Twitter</a>
  {% endif %}

  {% if settings.vimeo %}
    <a href="{{ settings.vimeo }}" class="hover-opacity">Vimeo</a>
  {% endif %}

  {% if settings.youtube %}
    <a href="{{ settings.youtube }}" class="hover-opacity">Youtube</a>
  {% endif %}

  {% if settings.email %}
    <a href="{{ settings.email }}" class="hover-opacity">Email</a>
  {% endif %}

  {% if settings.pinterest %}
    <a href="{{ settings.pinterest }}" class="hover-opacity">Pinterest</a>
  {% endif %}
  
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "settings": []
}
{% endschema %}