<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell medium-6 small-order-2 medium-order-1">
      {% form 'contact' %}

        <h4 class="form-heading">{{ section.settings.form_heading }}</h4>

        {% if form.posted_successfully? %}
          <p class="form-success">Thanks for your contact!</p>
        {% endif %}

        {{ form.errors | default_errors }}

        <label for="ContactFormName">Name</label>
        <input 
          type="text"
          name="contact[name]"
          id="ContactFormName"
          placeholder="John"
          value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">

        <label for="ContactFormEmail">Email</label>
        <input type="email"
          name="contact[email]"
          id="ContactFormEmail"
          placeholder="example@email.com"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off">

        <label for="ContactFormPhone">Phone</label>
        <input type="tel"
          name="contact[phone]"
          id="ContactFormPhone"
          placeholder="(xxx) yyy-zzzz"
          value="{% if form[phone] %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          pattern="[0-9\-]*">

        <label for="ContactFormMessage">Message</label>
        <textarea rows="4"
          name="contact[body]"
          id="ContactFormMessage"
          placeholder="Text">
          {%- if form.body -%}{{- form.body -}}{%- endif -%}
        </textarea>

        <button type="submit" class="btn primary">{{ section.settings.form_btn }}</button>
      {% endform %}
    </div>
    <div class="cell medium-6 small-order-1 medium-order-2">
      <h2 class="heading">{{ section.settings.contact_heading }}</h2>
      <p class="textarea">
        {{ section.settings.contact_textarea }}
      </p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page Contact",
  "tag": "section",
  "class": "contact",
  "settings": [
    {
      "type": "header",
      "content": "Form"
    },
    {
      "type": "text",
      "id": "form_heading",
      "label": "Heading",
      "default": "Get in Touch"
    },
    {
      "type": "text",
      "id": "form_btn",
      "label": "Button text",
      "default": "Send message"
    },
    {
      "type": "header",
      "content": "Contact information"
    },
    {
      "type": "text",
      "id": "contact_heading",
      "label": "Heading",
      "default": "Contact information"
    },
    {
      "type": "textarea",
      "id": "contact_textarea",
      "label": "Textarea"
    }
  ]
}
{% endschema %}