<section class="blog">
    <div class="grid-container">
        <div class="grid-x" style="position: relative;">
            {%- comment -%}
                {% if collection.image %}
                    <img class="hero-image" src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}">
                {% else %}
                    <img class="hero-image" src="https://via.placeholder.com/1920x1080" alt="{{ collection.title }}">
                {% endif %}
            {%- endcomment -%}
            <h2 class="main-title">{{ blog.title }}</h2>
        </div>
        <div class="grid-x grid-margin-x grid-margin-y">
            {% paginate blog.articles by section.settings.range %}
                {% for article in blog.articles %}
                    {% render "article-item", article: article, classes: "cell medium-4 large-3" %}
                {% endfor %}
                {% if paginate.pages > 1 %}
                    <div class="cell pagination">
                        {{ paginate | default_pagination }}
                    </div> 
                {% endif %}     
            {% endpaginate %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Blog Template",
    "settings": [
        {
            "type": "range",
            "id": "range",
            "label": {
                "en": "Articles per page",
                "ru": "Статей на странице"
            },
            "min": 1,
            "max": 16,
            "step": 1,
            "default": 1
        }
    ]
}
{% endschema %}