<!-- cart-template -->
<section class="cart grid-container">
    <div class="grid-x">
      <div class="cell medium-8">
        <h2>{{ section.settings.title }}</h2>
        {% if section.settings.desc != blank %}
            <p>
            {{ section.settings.desc }}
            </p>
        {% endif %}
      </div>
    </div>
  
    {% if cart.item_count > 0 %}
    
      <form action="/cart" method="post">
      
        <table class="cart-table">
          <thead>
            <tr>
              <th class="heading">
                &nbsp
              </th>
              <th class="heading hide-for-small-only">
                &nbsp
              </th>
              <th class="heading">
                Quantity
              </th>
              <th class="heading">
                Price
              </th>
              <th class="heading">
                &nbsp
              </th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr>
                <td class="content flex-container flex-dir-column">
                  {% assign image = item.image | img_url: 'master' %}
                  <img class="cart-img" src="{{ image }}" alt="{{ page_title }}">
                  <a href="{{ item.url }}" class="show-for-small-only">
                    {{ item.title }}
                  </a>
                </td>
                <td class="content hide-for-small-only">
                  <a href="{{ item.url }}">
                    {{ item.title }}
                  </a>
                </td>
                <td class="content quantity">
                  <input
                    type="text"
                    name="updates[]"
                    id="updates_{{ item.id }}"
                    value="{{ item.quantity }}"
                    data-key="{{ item.key }}"
                    class="cart-ajax-update"
                  />
                </td>
                <td class="content">
                  {{ item.original_line_price | money }}
                </td>
                <td class="content">
                  <button
                    type="button"
                    name="updates[]"
                    id="updates_{{ item.id }}"
                    value="0"
                    data-key="{{ item.key }}"
                    style="cursor: pointer;"
                    class="cart-ajax-delete"
                  >
                    X
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  
        <div class="grid-x margin-bottom-1">
          <div class="cell medium-auto">
            <p>Order Notes</p>
              <textarea name="note" class="textarea"></textarea>
          </div>
          <div class="cell medium-auto">
            <p class="text" style="text-align: right;">
              Subtotal: {{ cart.total_price | money }}
            </p>
            <p class="text" style="text-align: right;">
              Shipping & taxes calculated at checkout
            </p>
          </div>
        </div>
        <div class="grid-x align-right margin-bottom-1">
          <button class="btn-cart margin-right-1 cart-ajax-reload">update cart</button>
          <button class="btn-cart" type="submit" name="checkout">check out</button>
        </div>
      </form>
  
      <div class="grid-x">
        <a class="text" href="/">&laquo; Continue Shopping</a>
      </div>
  
    {% else %}
        <span style="display: inline-block; font-size: 14px; margin-bottom: 20px;">Your cart is currently empty.</span>
        <a href="/" class="btn-cart small">Continue browsing</a>
    {% endif %}

  
  </section>
  <!-- cart-template // -->

  {% schema %}
  {
      "name": "Cart",
      "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Your Cart"
        },
        {
            "type": "text",
            "id": "desc",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam corrupti iusto at. Veritatis, dolorum provident cum nemo ad quia. Itaque quaerat voluptatum vero eos nesciunt officia voluptas quidem culpa quasi."
        }      
      ]
  }
  {% endschema %}