<!-- collection-template -->
<section class="collection">
    <div class="grid-container">
        <div class="grid-x" style="position: relative;">
            {% if collection.image %}
                <img class="hero-image" src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}">
            {% else %}
                <img class="hero-image" src="https://via.placeholder.com/1920x1080" alt="{{ collection.title }}">
            {% endif %}
            <h2 class="main-title">{{ collection.title }}</h2>
        </div>

        {% render "collection-filters" %}

        <div class="grid-x grid-margin-x grid-margin-y">
            {% paginate collection.products by section.settings.range %}
                {% for product in collection.products %}
                    {% render "product-item", product: product, classes: "cell medium-4 large-3" %}
                {% endfor %}
                {% if paginate.pages > 1 %}
                    <div class="cell pagination">
                        {{ paginate | default_pagination }}
                    </div> 
                {% endif %}     
            {% endpaginate %}
        </div>
    </div>
</section>
<!-- collection-template // -->

{% schema %}
{
    "name": {
        "en": "Collection",
        "ru": "Коллекция"
    },
    "settings": [
        {
            "type": "range",
            "id": "range",
            "label": {
                "en": "Products per page",
                "ru": "Продуктов на странице"
            },
            "min": 1,
            "max": 16,
            "step": 1,
            "default": 1
        }
    ]
}
{% endschema %}