<div class="grid-container">
    <div 
        id="recommendations" 
        class="grid-x grid-padding-x grid-padding-y align-center"
        data-base-url="{{ routes.product_recommendations_url }}" 
        data-product-id="{{ product.id }}" 
        data-test="{{ product.title }}"
        data-limit="{{ section.settings.range }}" 
        data-section-id="{{ section.id }}" 
    >
        {% if recommendations.products_count > 0 %}
            <div class="cell">
                <h2 class="heading">{{ section.settings.title }}</h2>
            </div>

            <div
                class="owl-carousel" 
                id="recommendations-slider"
                data-nav="false"
                data-dots="false"
                data-loop="true"
                data-items="{{ section.settings.range_2 }}"
                data-autoplay="false">
                {% for product in recommendations.products %}
                    {% render "product-snippet", product: product, classes: "" %}
                {% endfor %}
            </div>

        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "Product Recommendations",
    "tag": "section",
    "class": "recommendations",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Related Products"
        },
        {
            "type": "range",
            "id": "range",
            "label": "Recommendation limit",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "range_2",
            "label": "Slider limit",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 3
        }
    ]
}
{% endschema %}