<div class="grid-container">
  <div class="grid-x align-middle">
    <div class="cell large-8 position-relative">
      <div 
        class="owl-carousel" 
        id="product-slider"
        data-nav="false"
        data-dots="{{ section.settings.dots }}"
        data-loop="{{ section.settings.loop }}"
        data-items="1"
        data-autoplay="{{ section.settings.autoplay }}"
        >
        {% for image in product.images %}
          <div class="image">
            <img src="{{ image.src | img_url: 'master' }}" alt="{{ product.title | truncatewords: 3, '...' }}" />
          </div>
        {% endfor %}
      </div>
      <div id="product-slider-dots" class="owl-dots" {% if section.settings.dots == false %}style="display: none;"{% endif %}>
        {% for image in product.images %}
          <div class="owl-dot">
            <img src="{{ image.src | img_url: 'master' }}" alt="{{ product.title | truncatewords: 3, '...' }}" />
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="cell large-4 text-center-medium">
      <h2 class="title">{{- product.title -}}</h2>
      <p class="text">{{- product.content | strip_html -}}</p>
      <span class="money">
        {% if product.compare_at_price > product.price %}
          <span class="compare">
            {{- product.compare_at_price | money -}}
          </span>
        {% endif %}
        {{- product.price | money -}}
      </span>
      {% if product.available %}
        <div class="product-variants">
          <input type="hidden" name="quantity" value="1">
          {% for variant in product.variants %}
            <div class="product-variant">
              <input 
                type="radio" 
                id="{{ variant.id }}" 
                name="id"
                value="{{ variant.id }}"
                data-variant-price="{{ variant.price | money }}"
                {% if _checked == blank and variant.available %}
                  {% assign _checked = true %}
                  checked
                {% endif %}
                {% unless variant.available %}
                  disabled
                {% endunless %}
              >
              <label for="{{ variant.id }}">{{ variant.title }}</label>
            </div>
          {% endfor %}
        </div>
        <button type="button" class="btn primary hover-opacity" data-add-to-cart>{{ section.settings.btn_add_to_card }}</button>
      {% else %}
        <button type="button" class="btn primary" disabled>{{ section.settings.btn_soldout }}</button>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product",
  "tag": "section",
  "class": "product shopify-product-template",
  "settings": [
    {
      "type": "header",
      "content": "Buttons"
    },
    {
      "type": "text",
      "id": "btn_add_to_card",
      "label": "Button Add to card",
      "default": "Add to card"
    },
    {
      "type": "text",
      "id": "btn_soldout",
      "label": "Button Soldout",
      "default": "Soldout"
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Loop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": false
    }
  ]
}
{% endschema %}