<section class="customer">
  {% if customer %}
      <div class="grid-container fluid">
          <div class="grid-x align-justify align-middle">
              <h1 class="heading">Account ({{ customer.first_name }})</h1>
              <nav>
                  <a href="/account" class="info-link">Orders</a>
                  <a href="/account/logout" class="info-link">Logout</a>
              </nav>
          </div>

          <h2 class="subheading">Addresses</h2>

          <button type="button" class="btn display-block width-100 text-uppercase" data-switch-form>Add address</button>

          <div class="form active">
              {% paginate customer.addresses by 1 %}
                  {% for address in customer.addresses %}
                      {% form 'customer_address', address, class: "form-address" %}

                          {{ form.errors | default_errors }}

                          {% if form.address1 %}
                              <div>
                                  <label for="address1-{{ form.id }}">Address</label>
                                  <input type="text" id="address1-{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" required>
                              </div>
                          {% endif %}   
                          {% if form.address2 %}
                              <div>
                                  <label for="address2-{{ form.id }}">Apartment, suite, etc.</label>
                                  <input type="text" id="address2-{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" required>
                              </div>
                          {% endif %}
                          {% if form.company %}                               
                              <div>
                                  <label for="company-{{ form.id }}">Company</label>
                                  <input type="text" id="company-{{ form.id }}" name="address[company]" value="{{ form.company }}" required>
                              </div>
                          {% endif %}
                          {% if form.street %} 
                              <div>
                                  <label for="street-{{ form.id }}">Street</label>
                                  <input type="text" id="street-{{ form.id }}" name="address[street]" value="{{ form.street }}" required>
                              </div>
                          {% endif %}
                          {% if form.city %} 
                              <div>
                                  <label for="city-{{ form.id }}">City</label>
                                  <input type="text" id="city-{{ form.id }}" name="address[city]" value="{{ form.city }}" required>
                              </div>   
                          {% endif %}                           
                          {% if form.country %}
                              <div>
                                  <label for="country-{{ form.id }}">Country</label>
                                  <select id="country-{{ form.id }}" name="address[country]" value="{{ form.country }}">{{ country_option_tags }}</select>
                              </div>
                          {% endif %}
                          {%- comment -%}
                          {% if form.province %}
                              <div>
                                  <label for="province-{{ form.id }}">Province/Region</label>
                                  <input type="text" id="province-{{ form.id }}" name="address[province]" value="{{ form.province }}" required>
                              </div>
                          {% endif %} 
                          {%- endcomment -%}
                          {% if form.zip %}
                              <div>
                                  <label for="zip-{{ form.id }}">Postal code/Zip</label>
                                  <input type="text" id="zip-{{ form.id }}" name="address[zip]" value="{{ form.zip }}" required>
                              </div>
                          {% endif %}
                          {% if form.phone %}
                              <div>
                                  <label for="phone-{{ form.id }}">Phone</label>
                                  <input type="text" id="phone-{{ form.id }}" name="address[phone]" value="{{ form.phone }}" required>
                              </div>
                          {% endif %}

                          <button type="submit" class="btn primary display-block width-100">Update</button>
                      {% endform %}

                      <form method="post" action="/account/addresses/{{ address.id }}">
                          <input type="hidden" name="_method" value="delete" />
                          <button type="submit" class="btn primary display-block width-100">Delete</button>
                      </form>
                          
                  {% else %}
                      <p class="info-text">You haven't placed any addresses yet.</p>
                  {% endfor %}

                  {% include 'pagination-snippet', paginate: paginate %}

              {% endpaginate %}
          </div>

          <div class="form no-active" style="display: none;">
              {% form 'customer_address', customer.new_address, class: "form-address" %}
                  
                  {{ form.errors | default_errors }}
              
                  <div>
                      <label for="address1-{{ form.id }}">Address</label>
                      <input type="text" id="address1-{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" required>
                  </div>  
                  <div>
                      <label for="address2-{{ form.id }}">Apartment, suite, etc.</label>
                      <input type="text" id="address2-{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" required>
                  </div>
                  <div>
                      <label for="company-{{ form.id }}">Company</label>
                      <input type="text" id="company-{{ form.id }}" name="address[company]" value="{{ form.company }}" required>
                  </div>
                  <div>
                      <label for="street-{{ form.id }}">Street</label>
                      <input type="text" id="street-{{ form.id }}" name="address[street]" value="{{ form.street }}" required>
                  </div>
                  <div>
                      <label for="city-{{ form.id }}">City</label>
                      <input type="text" id="city-{{ form.id }}" name="address[city]" value="{{ form.city }}" required>
                  </div>                           
                  <div class="grid-x align-justify align-middle">
                      <div class="cell medium-7">
                          <label for="country-{{ form.id }}">Country</label>
                          <select id="country-{{ form.id }}" name="address[country]" value="{{ form.country }}" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                      </div>
                      <div class="cell medium-3">
                          <label for="country_code-{{ form.id }}">Country code</label>
                          <input type="text" id="country_code-{{ form.id }}" name="address[country_code]" value="{{ form.country_code  }}" required>
                      </div>
                  </div>
                  {%- comment -%}
                  <div>
                      <label for="province-{{ form.id }}">Province/Region</label>
                      <input type="text" id="province-{{ form.id }}" name="address[province]" value="{{ form.province }}" required>
                  </div>
                  {%- endcomment -%}
                  <div>
                      <label for="zip-{{ form.id }}">Postal code/Zip</label>
                      <input type="text" id="zip-{{ form.id }}" name="address[zip]" value="{{ form.zip }}" required>
                  </div>
                  <div>
                      <label for="phone-{{ form.id }}">Phone</label>
                      <input type="text" id="phone-{{ form.id }}" name="address[phone]" value="{{ form.phone }}" required>
                  </div>

                  <button type="submit" class="btn primary display-block width-100">Add</button>
              {% endform %}
          </div>

      </div>
  {% else %}
      <script>
          if (!Shopify.desginMode) {
              window.location = "/account/login";
          }
      </script>
  {% endif %}
</section>

<script type="text/javascript">
$(function () {
  $("[data-switch-form]").click(function(e) {
      e.preventDefault()
      const $this = $(this)
      const currentBtnText = $this.text().toLocaleLowerCase().split(" ")[0]

      const $formActive = $('.form.active')
      const $formNoActive = $('.form.no-active')

      $formActive.fadeOut(function() {
          $formActive.removeClass("active").addClass("no-active")
          currentBtnText == "add" ? $this.text("update address") : $this.text("add address")
          $formNoActive.fadeIn(function() {
              $formNoActive.removeClass("no-active").addClass("active")
          })
      })
  })
})
</script>