<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">
    {% if settings.favicon %}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x' }}" />
    {% endif %}

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- comment -%}
    <link rel="preload" href="{{ 'bundle.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'bundle.js' | asset_url }}" as="script">
    {%- endcomment -%}

    {% render 'styles-snippet' %}
    {% render "fonts-snippet" %}

    {{ content_for_header }}

    <title>{{ page_title }}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
  </head>

  <body id="{{ page_title | handle }}" class="{% if template.name == "404" %}error-template{% elsif template contains "customers" %}customer-template{% else %}{{ template.name }}-template{% endif %} {% if template.suffix %}{{ template.suffix }}{% endif %}">
    <div id="page-preloader"></div>

    {% render 'cart-snippet' %}

    {% section 'header' %}

    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    {%- comment -%}
    <div {% unless request.page_type == 'captcha' %}id="app"{% endunless %}>
      {% render 'vue-examples' %}
    </div>
    {%- endcomment -%}

    {% render 'scripts-snippet' %}
  </body>
</html>